*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#calculator{
    border: 1px solid black;
    padding: 20px;
    border-radius: 17%;
    background: transparent;
    box-shadow: 0 3px 15px white;
}
input{
    width: 320px;
    background: transparent;
    border: none;
    padding: 24px;
    margin: 10px;
    cursor: pointer;
    color: white;
    text-align: right;
    box-shadow: 0 2px 12px black;
    font-size: 40px;
}
input::placeholder{
    color: white;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 27px;
}
.equalbutton{
    background-color: #FF8343;
}